<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= user.username %>
    </title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body>
    <div class="min-h-screen dark:bg-slate-800 gap-6  items-center justify-center">
        <div
            class="bg-slate-800 dark:bg-slate-800 items-center justify-center relative shadow-xl overflow-hidden hover:shadow-2xl group rounded-xl p-5 transition-all duration-500 transform">
            <div class="flex  gap-4">
                <div class="relative">
                    <form style="display: none;" action="/fileupload" id="uploadform" method="post"
                        enctype="multipart/form-data">
                        <input type="file" name="image">
                    </form>
                    <% if(!user.profileimage){%>
                        <img src="/images/lgo.png"
                            class="w-32 group-hover:w-36 group-hover:h-36 h-32 object-center object-cover rounded-full transition-all duration-500 delay-500 transform" />
                        <% } else {%>
                            <img src="/images/uploads/<%= user.profileimage%>"
                                class="w-32 group-hover:w-36 group-hover:h-36 h-32 object-center object-cover rounded-full transition-all duration-500 delay-500 transform" />
                            <%}%>

                </div>
                <div class="w-fit transition-all transform duration-500">
                    <h1 class="text-gray-600 dark:text-gray-200 font-bold">

                        <%= user.fullname %>
                    </h1>
                    <p class="text-gray-400">
                        @<%= user.username %>
                    </p>
                    <p class="text-gray-400">

                    </p>

                    <a class="text-xs text-gray-500 dark:text-gray-200">
                        <%= user.email %>
                    </a>
                    <br>

                    <a href="/feed"> <button type="button"
                            class="items-center rounded-md border border-transparent bg-violet-700 mt-5 px-3 py-2 text-sm font-medium leading-4 text-white shadow-sm hover:bg-amber-800">Go
                            To
                            Your Feed</button>
                    </a>

                </div>
            </div>
        </div>
        <br>


        <div id="modelConfirm"
            class="fixed hidden z-50 inset-0 bg-gray-900 bg-opacity-60 overflow-y-auto h-full w-full px-4 ">
            <div class="relative top-40 mx-auto shadow-xl rounded-md bg-gray-900 max-w-md">

                <div class="flex justify-end p-2">
                    <button onclick="closeModal('modelConfirm')" type="button"
                        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center">
                        <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </button>
                </div>

                <div class="p-6 pt-0 text-center">
                    <img class="mx-auto block" src="/images/post.png" height="100px" width="100px" alt="">

                    <form action="/upload" method="post" enctype="multipart/form-data" class="max-w-md mx-auto">
                        <div class="mt-4">
                            <label for="file" class="block text-sm font-medium text-gray-100">Choose File</label>
                            <input type="file" name="file" id="file"
                                class="mt-1 px-5 py-2 focus:ring-indigo-500 text-white focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-500 rounded-md">
                        </div>
                        <div class="mt-4">
                            <label for="filecaption" class="block text-sm font-medium text-gray-700">File
                                Caption</label>
                            <input type="text" name="filecaption" id="filecaption"
                                class="mt-2 px-5 py-2 focus:ring-indigo-500 bg-gray-800 text-white focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-500 rounded-md">
                        </div>
                        <div class="mt-4">
                            <label for="className" class="block text-sm font-medium text-gray-700">Image Class</label>
                            <select name="className" id="className"
                                class="mt-2 px-5 py-2 focus:ring-indigo-500 bg-gray-800 text-white focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-500 rounded-md">
                                <option value="all">All</option>
                                <option value="intrested">intrested</option>
                                <option value="other">other</option>
                                <!-- Add more options if needed -->
                            </select>
                        </div>
                        <br>
                        <button type="submit"
                            class="inline-flex items-center rounded-lg text-base px-3 py-2.5 text-center bg-indigo-600 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                            Upload
                        </button>
                    </form>



                </div>

            </div>
        </div>


        <div class="bg-black dark:bg-gray-800 h-screen h-full py-6 sm:py-8 lg:py-12">
            <div class="mx-auto bg-gray-800 mb-4 flex flex-wrap justify-center gap-4 sm:mb-8">
                <% user.posts.forEach(function(post){ %>

                    <a class="p-5 max-w-xs border border-indigo-300 rounded-2xl hover:shadow-xl hover:shadow-indigo-50 flex flex-col items-center"
                        href="#">
                        <img src="/images/uploads/<%= post.image %>" class="shadow rounded-lg overflow-hidden border">
                        <div class="mt-5">
                            <h4 class="font-bold text-white text-xl">
                                <%= post.imagetext %>
                            </h4>
                            <!-- <p class="mt-2 text-gray-600">Create Exercises for any subject with the topics you and your
                                students
                                care about.
                            </p> -->
                            <div class="mt-5">
                                <!-- <form action="/delete" method="post">
                                    <input type="hidden" name="postId" value="POST_ID_HERE">
                                    <button type="submit"
                                        class="inline-flex items-center rounded-md border border-transparent bg-red-800 px-3 py-2 text-sm font-medium leading-4 text-white shadow-sm hover:bg-gray-900">Delete
                                        Post</button>
                                </form> -->

                            </div>
                        </div>
                    </a>
                    <%})%>
                        <!-- Repeat this block for other cards -->
            </div>
        </div>

    </div>

</body>
<script type="text/javascript">
    window.openModal = function (modalId) {
        document.getElementById(modalId).style.display = 'block'
        document.getElementsByTagName('body')[0].classList.add('overflow-y-hidden')
    }

    window.closeModal = function (modalId) {
        document.getElementById(modalId).style.display = 'none'
        document.getElementsByTagName('body')[0].classList.remove('overflow-y-hidden')
    }

    // Close all modals when press ESC
    document.onkeydown = function (event) {
        event = event || window.event;
        if (event.keyCode === 27) {
            document.getElementsByTagName('body')[0].classList.remove('overflow-y-hidden')
            let modals = document.getElementsByClassName('modal');
            Array.prototype.slice.call(modals).forEach(i => {
                i.style.display = 'none'
            })
        }
    };
</script>
<script>
    document.querySelector('#uploadicon').addEventListener("click", function () {
        document.querySelector("#uploadform input").click();
    });

    document.querySelector("#uploadform input").addEventListener("change", function () {
        document.querySelector("#uploadform").submit();
    });
</script>

</html>